<%= render partial: 'shared/header', locals: { title: @user.name_or_username, description: 'Lorem ipsum dolor sit amet.', label: '' } %>

<div class="container">
  <% if @user.pitches.length > 0 %>
  <ul>
    <% @user.pitches.each do |pitch| %>
    <li>
      <a href="/<%= @user.username %>/<%= pitch.id.to_s %>"><%= pitch.title %></a>
    </li>
    <% end %>
  </ul>
  <% end %>
</div>