<%= render partial: 'shared/header', locals: { title: 'Sign Up', description: 'Lorem ipsum dolor sit amet.', label: '' } %>

<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="pc-inner-container">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <div class="form-group">
            <%= f.label :username %>
            <%= f.text_field :username, class: 'form-control', placeholder: 'Choose a username', autofocus: true %>
          </div>

          <div class="form-group">
            <%= f.label :email %>
            <%= f.email_field :email, class: 'form-control', placeholder: 'Your email' %>
          </div>

          <div class="form-group">
            <%= f.label :password %>
            <%= f.password_field :password, class: 'form-control', placeholder: 'Create a password' %>
          </div>

          <div class="form-group">
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, class: 'form-control', placeholder: 'Confirm your password' %>
          </div>

          <%= f.button "Sign up", class: 'btn btn-default' %>
        <% end %>

        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>