<%= form_for :pitch, url: pitches_path do |f| %>
  <div class="pc-pitch-header">
    <span class="btn btn-default btn-file">
      Choose cover image <%= f.file_field :image, accept: 'image/*' %>
    </span>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">

        <div class="pc-pitch-container">

          <div class="pc-pitch-title-container">
            <%= f.text_area :title, rows: 1, class: 'form-control pc-new-pitch-title', autocomplete: 'off', autofocus: true, value: 'YOUR PITCH TITLE' %>
          
            <p class="pc-pitch-author">by <%= current_user.name_or_username %></p>
          </div>

          <div class="pc-pitch-problem">
            <header>
              <h2>The Problem</h2>
            </header>

            <div id="pitchProblem" class="editable" data-placeholder="Describe the problem" data-input="pitch_problem"></div>

            <%= f.text_area :problem, class: 'hidden' %>
          </div>
              
          <div class="pc-pitch-solution">
            <header>
              <h2>My Solution</h2>
            </header>

            <div id="pitchSolution" class="editable" data-placeholder="Outline your solution" data-input="pitch_solution"></div>

            <%= f.text_area :solution, class: 'hidden' %>
          </div>
   
          <div class="pc-pitch-submit">
            <%= f.button 'Create your pitch', class: 'btn btn-default' %>
          </div>

        </div>

      </div>
    </div>
  </div>

<% end %>