<% if @pitch.image %>
<div class="pc-pitch-header pc-image-set" style="background-image: url(<%= @pitch.image.url %>)"></div>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">

      <div class="pc-pitch-container">

        <div class="pc-pitch-title-container">
          <h1 class="pc-pitch-title"><%= @pitch.title %></h1>

          <p class="pc-pitch-author">by <%= @pitch.user.name_or_username %></p>
        </div>

        <div class="pc-pitch-problem">
          <header>
            <h2>The Problem</h2>
          </header>

          <%= @pitch.problem.html_safe %>
        </div>

        <div class="pc-pitch-solution">
          <header>
            <h2>My Solution</h2>
          </header>

          <%= @pitch.solution.html_safe %>
        </div>

        <div class="pc-pitch-comments-container">
          <%= form_for :comment, url: profile_pitch_comments_path, remote: true, html: { class: 'pc-pitch-comment-form' } do |f| %>

            <div class="form-group">
              <%= f.text_area :body, rows: 4, class: 'form-control', placeholder: 'Write a comment...' %>
            </div>

            <div class="text-right">
              <%= f.button 'Submit', class: 'btn btn-default' %>
            </div>

          <% end %>

          <%# if @pitch.root_comments.length > 0 %>
            <ul class="pc-pitch-comments pc-pitch-comments-top">
              <% @pitch.root_comments.each do |comment| %>
              <li class="pc-pitch-comment-top">
                <header>
                  <h1><%= comment.user.name_or_username %></h1>
                </header>

                <p><%= simple_format(comment.body) %></p>

                <div class="row pc-pitch-comment-details">
                  <div class="col-xs-6">
                    <span class="text-muted"><%= time_ago_in_words(comment.created_at) %> ago</span>
                  </div>

                  <div class="col-xs-6 text-right">
                    <a href="#" class="pc-pitch-comment-reply">Reply</a>
                  </div>
                </div>

                <div class="pc-pitch-comment-replies">
                  <%# if comment.children.length > 0 %>
                  <ul class="pc-pitch-comments">
                    <% comment.children.each do |reply| %>
                    <li>
                      <header>
                        <h1><%= reply.user.name_or_username %></h1>
                      </header>

                      <p><%= simple_format(reply.body) %></p>

                      <div class="row pc-pitch-comment-details">
                        <div class="col-xs-6">
                          <span class="text-muted"><%= time_ago_in_words(reply.created_at) %> ago</span>
                        </div>

                        <div class="col-xs-6 text-right">
                          <a href="#" class="pc-pitch-comment-reply">Reply</a>
                        </div>
                      </div>
                    </li>
                    <% end %>
                  </ul>
                  <%# end %>

                  <%= form_for :comment, url: profile_pitch_comments_path, remote: true, html: { class: 'pc-pitch-comment-reply-form', style: 'display: none;' } do |f| %>
                    <%= f.hidden_field :parent_id, value: comment.id %>

                    <div class="form-group">
                      <%= f.text_area :body, rows: 4, class: 'form-control', placeholder: 'Write a comment...' %>
                    </div>

                    <div class="text-right">
                      <%= f.button 'Submit', class: 'btn btn-default' %>
                    </div>

                  <% end %>
                </div>
              </li>
              <% end %>
            </ul>
          <%# end %>
        </div>

      </div>

    </div>

  </div>
</div>
