<%= render partial: 'shared/header', locals: { title: 'Forgot Your Password?', description: 'Lorem ipsum dolor sit amet.', label: '' } %>

<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="pc-inner-container">
        <%= form_for(resource, as: resource_name, url: password_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>

          <div class="form-group">
            <%= f.label :login %>
            <%= f.text_field :login, class: 'form-control', placeholder: 'Your username or email', autofocus: true %>
          </div>

          <%= f.button "Send me reset password instructions", class: 'btn btn-default' %>
        <% end %>

        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>