<div class="pc-header">
  <div class="container">
    <h1>
      <%= title %>
    </h1>

    <% if description %>
    <p>
      <%= description %>

      <% if label %>
      <span class="label label-default"><%= label %></span>
      <% end %>
    </p>
    <% end %>
  </div>
</div>