<%= render partial: 'shared/header', locals: { title: 'Sign In', description: 'Lorem ipsum dolor sit amet.', label: '' } %>

<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="pc-inner-container">
        <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
          <div class="form-group">
            <%= f.label :login %>
            <%= f.text_field :login, class: 'form-control', placeholder: 'Username or email', autofocus: true %>
          </div>

          <div class="form-group">
            <%= f.label :password %>
            <%= f.password_field :password, class: 'form-control', placeholder: 'Password' %>
          </div>

          <% if devise_mapping.rememberable? -%>
          <div class="form-group">
            <label>
              <%= f.check_box :remember_me %>
              Remember me
            </label>
          </div>
          <% end -%>

          <%= f.button "Sign in", class: 'btn btn-default' %>
        <% end %>

        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>