@import 'variables';
@import 'mixins';

body {
  background-color: #fff;
  color: #000;
  @include bodyFont;
  font-size: $regularFontSize;
}

.form-control {
  border-radius: 0;
  outline: none;
  box-shadow: none;
  font-size: $largeFontSize;

  &:focus {
    border-color: #ccc;
    box-shadow: none;
  }
}

.btn {
  padding: 10px 30px;
  border: none;
  border-radius: 0;
  @include headerFont;
  font-size: $largeFontSize;
}

.btn-default {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
}

.btn-success {
  background-color: #000;
  color: #fff;
  border: 1px solid #000;

  &:hover {
    background-color: #222;
    border: 1px solid #222;
  }
}

a {
  color: #000;

  &:hover {
    color: #222;
  }
}

.label {
  border-radius: 0;
}

.medium-editor-placeholder::after {
  font-style: normal;
}

p {
  @include bodyFont;
  font-size: $largeFontSize;
}
