@import 'variables';
@import 'mixins';

// New
.pc-pitch-header {
  margin-top: 40px;
  background-size: 100%;
  text-align: center;
  position: relative;

  &.pc-image-set {
    height: 640px;
    margin-top: 0;

    .btn {
      position: absolute;
      right: 20px;
      bottom: 20px;
    }
  }
}

.pc-pitch-container {
  padding: 60px;
  background-color: #fff;

  header {
    margin-bottom: 30px;

    h2 {
      margin-top: 0;
      @include headerFont;
    }
  }

  .pc-pitch-title-container {
    margin-bottom: 60px;
    padding: 40px 0;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;

    .pc-new-pitch-title {
      height: auto;
      padding: 0;
      border: none;
      text-align: center;
      @include headerFont;
      font-size: 40px;
      color: #000;
      resize: none;
    }

    .pc-pitch-title {
      margin: 0;
      padding: 10px 0;
      text-align: center;
      @include headerFont;
      font-size: 40px;
    }

    .pc-pitch-author {
      text-align: center;
      margin: 20px 0 0 0;
    }
  }

  .pc-pitch-problem, .pc-pitch-solution {
    margin-bottom: 40px;
  }

  .pc-pitch-submit {
    text-align: center;
  }
}

// Show

.pc-pitch-comments-container {
  margin-top: 60px;
}

.pc-pitch-comments {
  list-style-type: none;
  padding-left: 0;

  &.pc-pitch-comments-top {
    > li {
      padding: 30px 0;
      border-bottom: 1px solid #ddd;

      &:last-child {
        border-bottom: none;
        padding-bottom: 0;
      }
    }
  }

  li {
    padding-top: 30px;

    header {
      margin-bottom: 20px;

      h1 {
        margin: 0;
        @include headerFont;
        font-size: $largeFontSize;
      }
    }

    p {
      margin-bottom: 0;
    }

    .pc-pitch-comment-details {
      margin-top: 10px;
      font-size: $regularFontSize;
    }

    .pc-pitch-comment-replies {
      margin-left: 50px;

      .pc-pitch-comment-reply-form {
        margin-top: 20px;
      }
    }
  }
}
