@import 'mixins';

.pc-nav {
  margin-bottom: 0;
  padding: 0 20px;
  border: 0;
  border-radius: 0;
  background-color: #fff;
  text-transform: uppercase;

  .navbar-brand {
    color: #000;
    @include headerFont;
    font-weight: 500;
    padding: 25px 15px;
    margin-right: 20px;
  }

  .navbar-nav > li > a {
    color: #000;
    @include headerFont;
    border-bottom: 5px solid #fff;
    padding: 25px 15px 20px 15px;

    &:hover {
      background-color: #fff;
      border-bottom: 5px solid #000;
    }
  }
}

.pc-flash {
  margin-bottom: 0;
  padding: 10px 0;

  p {
    margin-bottom: 0;
    text-align: center;
  }
}

.pc-header {
  padding: 120px 0;
  font-size: 24px;
  text-align: left;
  color: #fff;
  background-color: #3E3A40;

  h1 {
    font-size: 60px;
    color: #79C0EC;
    margin-top: 0;
  }
}

.pc-footer {
  padding: 20px 0;
  text-align: center;
  color: #615a64;

  p {
    margin-bottom: 0;
  }

  a {
    color: #615a64;

    &:hover {
      text-decoration: none;
      color: #615a64;
    }
  }
}

.editable {
  outline: none;
  @include bodyFont;
  font-size: 20px;
}

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 999px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}
