<!DOCTYPE html>
<html>
<head>
  <title>Pitchcard</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>

  <header class="navbar pc-nav">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#bs-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Pitchcard</a>
    </div>

    <nav class="collapse navbar-collapse" id="bs-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
          <a href="/discover">Discover</a>
        </li>
        <li>
          <a href="/new">New</a>
        </li>
      </ul>

      <% if user_signed_in? %>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="/<%= current_user.username %>"><%= current_user.name ? current_user.name : current_user.username %></a>
        </li>
      </ul>
      <% end %>
    </nav>
  </header>

  <% if notice %>
  <div class="pc-flash notice bg-info">
    <div class="container">
      <p><%= notice %>
    </div>
  </div>
  <% end %>

  <% if alert %>
  <div class="pc-flash alert bg-danger">
    <div class="container">
      <p><%= alert %>
    </div>
  </div>
  <% end %>

  <%= yield %>

  <footer class="pc-footer">
    <div class="container">
      Made with ♥ in Manchester by <a href="http://twitter.com/acason" target="_blank">Alex Cason</a>
    </div>
  </footer>

</body>
</html>
